.table-container .table {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.table-container .row {
  display: grid;
  align-items: center;
  border-bottom: 1px solid #3a3a3a;
}

.table-container .row.header {
  border-bottom: 2px solid #6a6a6a;
}

.table-container .cell {
  padding: 12px 16px;
  box-sizing: border-box;
  background-color: #262626;
  color: var(--color-texto);
  align-items: center;
  height: 100%;
  align-content: center;
}

.table-container .row.header .cell {
  background-color: transparent;
  font-weight: 600;
  color: #fff;
}

/* Estilos específicos para ciertas columnas (si se usan esas keys) */
.table-container .cell .rol-cell {
  width: 100%;
}

.table-container .cell.user-cell,
.table-container .cell.responsable-cell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.table-container span {
  padding-left: 19px;
  top: auto;
  position: relative;
}

.table-container .avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.table-container .cell.icon-cell {
  display: flex;
  align-items: center;
  gap: 8px;
}

.table-container .cell.icon-cell img {
  width: 20px;
  height: 20px;
}

/* Badge reutilizable */
.badge {
  display: inline-block;
  padding: 6px 16px;
  border-radius: 999px;
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  min-width: 80px;
}